################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarRent/CarRent/Data/Images/eyefefnx.jpg
/.vs
