@model IEnumerable<CarRent.Models.Identity.User>
@{
    ViewData["Title"] = "UserList";
    Layout = "_AdminLayout";
}


<table class="table">
    <thead>
        <tr>
            <th>
                <a>User email</a>
            </th>
            <th>
                <a>Action</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <form method="post" asp-action="EditUser">
                            <input asp-for="@user.Id" name="userId" type="hidden" />
                            <input type="submit" value="Edit" class="btn btn-primary" />
                        </form>
                        <form method="post" asp-action="EditUser">
                            <input asp-for="@user.Id" name="userId" type="hidden" />
                            <input type="submit" value="Edit" class="btn btn-primary" />
                        </form>
                        <form method="post" asp-action="DeleteUser">
                            <input asp-for="@user.Id" name="userId" type="hidden" />
                            <input type="submit" value="Delete" class="btn-danger" />
                        </form>
                    </div>
                 

                </td>
            </tr>
        }

    </tbody>
</table>