@model CarRent.ViewModels.ListViewModel<CarRent.Models.CarModels.Car>
@{
    ViewData["Title"] = "ReadOnlyList";
}


<div class="row row-cols-1 row-cols-md-3">
    @foreach (var car in Model.Items)
    {
        <div class="col mb-4">
            <div class="card" style="width: 18rem;">
                <img src="@Url.Content("~/notFound.png")" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@car.Brand @car.Model</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>


<div page-model="@Model.PagingInfo"  page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" 
     class="btn-group pull m-1">
</div>